@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #005843;
    box-shadow: 0 2px 4px #0000001a;
}

.logo {
    font-size: 40px;
    font-weight:500;
    color: #fff;
    margin: 0px 90px;
}

nav ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #dcdcdc;
}

.header-buttons {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.login-button{
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
}

.login-button:hover {
    color: #dcdcdc;
}

.register-button {
    padding: 10px 20px;
    background-color: #73E5FF;
    color: #005843;
    text-decoration: none;
    border-radius: 20px;
}

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    background-color: #005843;
    color: #fff;
    padding-bottom: 210px;
}

.span{
    position: relative;
    display: grid;
    place-items: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 0px 0px;
}

.span::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 35px;
    transform: translate(-50%, -50%);
    background-color: #ffffff4c;
    z-index: 1;
    border-radius: 20px;
}

.hero h1 {
    font-weight: 450;
    font-size: 95px;
    margin: 35px 0;
    line-height: 1;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    animation: slideInLeft;
    animation-duration: 2s;
}

.hero p {
    font-size: 20px;
    margin-bottom: 60px;
    padding: 0px 100px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    animation: slideInLeft;
    animation-duration: 2s;
}

.button {
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 30px;
    margin: 10px;
    font-size: 18px;
}

.button.primary {
    background-color: #FFE51D;
    color: #005843;
}

.button.secondary {
    border: 2px solid #FFE51D;
    background-color: transparent;
    color: #FFE51D;
}

.phone-number{
    position: absolute;
    bottom: 30px;
    left: 100px;
    font-size: 14px;
    color: #fff;
    animation: slideInLeft;
    animation-duration: 2s;
}

.effortless {
    text-align: center;
    justify-items: center;
    margin-top: 25px;
    padding: 60px 20px;
    background-color: #fff;
    color: #333;
}

.effortless p {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 45px;
}

.tools{
    display: grid;
    grid-template-columns: repeat(7, 75px);
    justify-items: center;
    gap: 47px;
}
.tools img{
    width: 55px;
    height: auto;
    grid-column: span 1;
    animation: fadeInUp;
    animation-duration: 4s;
    animation-delay: 1.5s; 
    opacity: 0; 
    animation-fill-mode: forwards;
}
.empty {
    visibility: hidden;
}

.integration {
    padding: 60px 20px;
    background-color: #fff;
    color: #000;
}

.integration-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    gap: 20px;
}

.integration-text {
    flex: 1;
    width: 60%;
}

.integration h2 {
    font-weight: 500;
    font-size: 57px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.3;
}
.integration p {
    color: #8c8c8c;
    font-size: 22px;
    margin-bottom: 40px;
    text-align: left;
}

.integration ul {
    list-style-type: none;
    text-align: left;
}

.integration ul li {
    font-size: 20px;
    margin-bottom: 25px;
}

.side-image {
    flex: 1;
    width: 40%;
    display: flex;
    justify-content: center;
}

.side-image img {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 27px;
    background-color: transparent;
    box-shadow: 30px 35px 20px -15px #41414120;
}

/* Sección de Video Chat */
.video-chat {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 60px 20px;
    margin: 80px 100px 0 100px;
    background-color: white;
    z-index: 2;
}

.video-chat::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -100px;
    width: 115.15%;
    height: 36%;
    background-color: #005843; 
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.text-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-bottom: 15px;
}

.text-left {
    flex: 1;
    max-width: 58%;
}

.text-left h2 {
    font-weight: 500;
    font-size: 57px;
}

.text-right {
    flex: 1;
    max-width: 42%;
}

.text-right p {
    font-size: 22px;
    padding-left: 100px;
    color: #8c8c8c;
}


/* Imagen y video */
.video-container {
    position: relative;
    text-align: center;
    
}

.video-thumbnail {
    width: 1250px; 
    height: 595px;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.526);
    padding: 30px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.chat-bubble {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 115px;
    width: 380px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat-bubble img{
    width: 65px;
}

.chat-text{
    font-weight: 400;
    font-size: 14px;
    flex:1;
    text-align: left;
}
.highlight {
    color: #0073ff;
}
.chat-text p{
    margin-bottom: 10px;
}

.chat-hour{
    align-self: flex-start;
    color: #939393;
    font-size: 12px;
}

/* Sección Orders */
.orders {
    position: relative; /* Asegura que el fondo de la parte superior se vea bien */
    background-color: #005843;
    color: white;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    flex-wrap: nowrap;
    gap: 20px;
}
.orders-text {
    max-width: 800px;
    margin: 0 120px;
    text-align: center;
    flex: 1;
    width: 60%;
}

.orders-text h2 {
    font-weight: 500;
    font-size: 57px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.2;
    padding: 50px 0;
}

.orders-text p {
    font-size: 22px;
    color: #ddd;
    margin-bottom: 40px;
    text-align: left;
}

.metrics {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
}

.metrics h3 {
    font-size: 70px;
    font-weight: bold;
}

.metrics p {
    font-size: 14px;
    color: #ddd;
}

/* Imagen del Chat */
.chat-interface {
    justify-content: center;
    display: flex;
    flex: 1;
    width: 40%;
    justify-content: center;
    padding: 0 45px;
}

.chat-interface img {
    max-width: 510px;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: transparent;
}